/*
    white hsl(0, 0%, 100%);
    blue hsl(207, 19%, 9%);
    green hsl(142, 90%, 61%);

    darker blue hsl(207, 19%, 7%)

*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing:border-box;
    font-family: Poppins, serif;

}

body{

    background: #f5f5f7;
    font-family: 'Poppins', serif;
    margin: 10px 0 0 0;
}

#layout-container{

    display: flex;
    justify-content: space-evenly;
    /*align-items: center;*/
    /*width: 100%;*/

}
.template-container{

    background: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    height: 97vh;
    border-radius: 10px;
    width: 40%;
    margin: auto;

    /*box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;*/
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}


#template-layout-container{

    background: #fff;
    margin-top: 0;
    width: 100%;

    height: 70%;
    overflow: scroll;

    border-left: 5px /*hsl(142, 90%, 61%)*/ #f1f1f5 solid;
    border-right: 5px /*hsl(142, 90%, 61%)*/ #f1f1f5 solid;

}



.sections{

    width: 80%;
    margin: auto;
}
/*.section-container{

    width: 100%;
}*/
.section-title{

    display: flex;
    align-items: center;
    margin-bottom: 10px;

}


.section-title, .drop-down-select-div{

    padding: 5px;
    border-radius: 5px;

}
.section-title span{

    margin-right: 10px;

}


.title-to-border{

    position: relative;
    margin: auto;
    /*background: #00d4ff;*/
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fa-exclamation-circle {

    margin-left: 10px;
    color: #ff4c4c;
}

.red-border{

    border: 3px solid #ff4c4c;
    width: max-content;

}
.title-to-border > span{

    position: absolute;
    top: -9px;
    z-index: 1;
    /*background: white;*/
    left: 10px;
    padding: 0 5px;
    /*background-color: transparent;*/
    background: linear-gradient(to bottom, transparent 50%, #f5f5f7 0%);

    color: #aaa;

}

.hideVisibility{

    visibility: hidden;
}

.title-to-border > input{

     width: 100%;
     height: 30px;
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f5f5f7;
    padding: 20px;
    border-radius: 3px;
    /*color: #aaa;*/
}
.title-to-border > textarea{

     width: 100%;
     height: 100px;
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f5f5f7;
    border-radius: 3px;
    padding: 15px;
    resize: none;
    font-size: 12px;

}
.title-to-border > textarea:focus, .title-to-border > input:focus{
    outline: none;
}
.section-container :not(:first-child){ /* everything but the h4 element */

    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.info{

    width: 100%;

}

.middle-width{

    margin: auto;
    width: 80%;
}

/*.add-section, .experience, .delete-section,
#add-skill,
.skill-skills-container{

    margin: auto;
    width: 80%;
}*/

.add-section > i{

    color: hsl(142, 90%, 61%);
}


.delete-section > i{

    color: #ff4c4c;
}


.delete-section:hover,
.add-section:hover,
.drop-down-select-div:hover,
#add-skill:hover{

    background: #f5f5f7;
    border-radius: 5px;
    cursor: pointer;

}

.section-title:hover,
.experience-title:hover{
    background: #f5f5f7;
    border-radius: 5px;
    cursor: pointer;
    width: max-content;

}

.delete-section, .add-section,
.experience-title{

    padding: 5px;
}


.experience-input, .experience, .section-container{

    margin-bottom: 40px;
}


/*.experience-input, */.experience, .section-container{

    margin-top: 40px;
}

.experience, .title-to-border > span{

    font-size: 13px;
}

.drop-down-options-div{

    height: 70px;
    width: 100%;
}

.title-to-border-element{

    /*border-radius: 5px;*/
    /*border-color: black;*/
    /*outline: black;*/
    /*border-style: inset;*/


}

div[class*="-container"], .add-section{

    font-size: 13px;
}


#resume-container{

    /*display: flex;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
    position: relative;
    width: 100%;
    margin: auto;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#resume-container > button[id="resume-button"]{

    background-color: hsl(207, 19%, 9%);
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;

    position: relative;
    z-index: 2;

}
#resume-container > button[id="resume-button"]:hover{

    cursor: pointer;

}

input[type=file]{

    font-family: 'Poppins', serif;
    position: absolute;
    top: 50%;
    left: 65px;
    transform: translateY(-50%);
    z-index: 1;
}


.tree-border{

    /*border-left: solid 2px red;*/
    border-left: 2px /*hsl(142, 90%, 61%)*/ #f0f0f0 solid;
    /*border-left: 2px #f1f1f1 solid;*/
    margin-bottom: 10px;
    /*background-color: red;*/
}


.button{

    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3rem;
    font-weight: 500;
    cursor: pointer;
    width: 50%;
    font-family: Poppins;
    /*border: none;*/
    margin: 2% 0%;
}

.create-button {

    background: rgb(0, 114, 255);
    color: #fff;

}
.create-button:hover {

    background: #fff;
    color: rgb(0, 114, 255);
    border: 1px solid  rgb(0, 114, 255);

}

.disabled-color{

    background: #4d9cff;
    color: #fff;
    cursor: not-allowed;
}

.disabled-color:hover{

    background-color: #fff;
    color: #4d9cff;
    border: 1px solid  #4d9cff;
}

.embedded-container{

    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
embed{

    position: sticky;
    top: 0;

    width: 100%;
    height: 80%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;

}

#icon-display{

    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    /*background-color: #ff4c4c;*/
}
#icon-display > i{

    display: flex;
    /*background-color: #ff4c4c;*/
}

.drag-container{

    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/

    margin: auto auto 30px;
}

input[id="flatpickr"]{

    text-align: center;
}


@media( max-width: 950px ) {

    body{


        /*height: 100vh;*/
        height: 1000px;
        /*width: 80%;*/
        margin: 10px 0 0 0;

    }
    #layout-container{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 200vh;
        margin: auto;
    }

    .template-container{

        width: 100%;
    }

    #template-layout-container{

        height: 80vh;

    }

    .embedded-container{

        width: 100%;
    }
    embed{

        all: unset;
        width: 100%;
        /*height: 500px;*/
        margin-top: 10px;
        margin-bottom: 50px;
        height:100vh;
        border-radius: 10px;

    }

    .scroll-down-button{
        position: fixed;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        z-index: 10;
        cursor: pointer;
        font-size: 50pt;
        color : hsl(142, 90%, 61%);
        border-radius: 90%;
    }
}

/* COLOR PICKER */

#color-picker{


}

/*
.sp-colorize-container{

    height: 100%;
}

.sp-colorize{

    height: 100%;
}*/

.no-border{

    border: none;
}

.color-section{

    /*width: 100%;*/
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#theme{

    display: flex;
    flex-direction: column;
    /*justify-content: start;*/
    /*align-items: center;*/
}


.disable-button{

    cursor: not-allowed;
    background:  rgb(173, 220, 255);
    pointer-events: none;
}
.disable-button:hover{

    pointer-events: none;
    cursor: not-allowed;
    padding: 0.5rem 1rem;
    /*margin-top: 2rem;*/
    /*border: none;*/
    border-radius: 3rem;
    font-weight: 500;
    color: rgb(0, 114, 255);
    border: 1px solid rgb(0, 114, 255);
}


.fav-icon-container{

    display: flex;
    justify-content: center;
    align-items: center;
}


.view-buttons{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}

.view-new-tab-button{

    background: rgb(0, 114, 255);
    color: #fff;
    width: max-content;
}

.view-new-tab-button:hover {

    background: #fff;
    color: rgb(0, 114, 255);
    border: 1px solid  rgb(0, 114, 255);

}

.view-template-button,
.yes-button{

    background: hsl(142, 90%, 61%);
    color: #fff;
    width: max-content;
    /*flex-basis: 50%;*/

}

.view-template-button:hover,
.yes-button:hover{

    background: #fff;
    color: hsl(142, 90%, 61%);
    border: 1px solid  hsl(142, 90%, 61%);

}


.no-button{

    background:  #FF4C4C;
    color: #fff;
    width: max-content;
    /*flex-basis: 50%;*/

}

.no-button:hover{

    background: #fff;
    color:  #FF4C4C;
    border: 1px solid   #FF4C4C;

}
.modal-text{

    text-align: center;
}
.modal-container{


    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(207, 19%, 7%);
    width: 50%;

    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    border-radius: 10px;

}

.modal-buttons-container{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}