/*
    white hsl(0, 0%, 100%);
    blue hsl(207, 19%, 9%);
    green hsl(142, 90%, 61%);

    darker blue hsl(207, 19%, 7%)
*/

body{


    font-family: sans-serif;
    background-color: hsl(207, 19%, 9%);
    box-sizing: border-box;
    padding: 0;
    color: #f5f5f7;
    position: relative;
    width: 90%;
    margin: 30px auto 0 auto;
}

.hide{

    display: none;
}
.hideVisibility{

    visibility: hidden;
}

/* DARK MODE */
.darkModeBody{


    font-family: sans-serif;
    background-color: #f5f5f7;
    box-sizing: border-box;
    padding: 0;
    margin: auto;
    /*color: hsl(207, 19%, 9%);*/
    position: relative;

}

.dark-mode-section-title{

    color: hsl(207, 19%, 9%);

}

/* GENERAL */
i{
    font-size: 100px;
}

#nav-drop-down{

    display: none;
}
.section-title{

    --padding: -1.5em;
    position: relative; /*the parent*/
    width: max-content; /*so it fits the text*/
    margin-bottom: 70px;
    margin-left: 10px;
}

.section-title::after{


    content: "";
    position: absolute; /*links to its parent?*/
    height: 4px;
    left:  0/*calc( var( --padding ) * -1 )*/;
    bottom: -2px;
    width: 100%/*calc( 100% + var( --padding ) )*/;
    background: hsl(142, 90%, 61%);
    margin: 0;
    line-height: 1.6;

}


/* NAVIGATION BAR */

.nav-drop-down{

    display: none;
}
.nav-container{

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 30px auto 100px auto;

    position: sticky;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 1;

}

.nav-container-scroll{

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0px auto 100px auto;

    position: sticky;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: hsl(207, 19%, 0%);
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-items-container,
.nav-drop-down-items{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}

.nav-items{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: max-content;
    background:hsl(207, 19%, 7%);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    padding: 5px;
    border-radius: 4px;
    height: 25px;
    font-size: 14px;
}


.nav-container i {

    font-size: 14px;

}
.nav-items i {

    font-size: 14px;
    margin-right: 5px;
    margin-left: 5px;
}
.nav-items p {

    margin-right: 5px;
    margin-left: 5px;
}

.nav-container a {

    text-decoration: none;
    color: #fff;
}
.logo-container{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    background:hsl(207, 19%, 7%);
    padding: 5px;
    border-radius: 4px;
    height: 25px;
    font-size: 14px;

}

.logo-container > div{

    color: #f2f2f2;
}
.logo-container i {

    font-size: 14px;
    cursor: pointer;
    color: hsl(142, 90%, 61%);

}


/* ABOUT  */

.about-section-container{


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: hsl(207, 19%, 7%);
}

.about-section-container  *{

    padding: 10px;
}


.about-section-container-body{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}

#about-summary{
    word-break: break-word;
    line-height: 1.6;
}

#about-body {

    text-align: center;
    display: flex;
    flex-direction: column;
}


#contact-me{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#say-hello{

    color:hsl(142, 90%, 61%);
    text-decoration: none;
}
#say-hello:hover{

    color:hsl(142, 90%, 61%);
    background-color: #f2f2f2;
    /*padding: 3px;*/
    border-radius: 3px;
    width: max-content;
    margin: auto;

}

/* EXPERIENCE */

.experience-title-container{

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.experience-section-container > *{

    padding: 10px;
}

.experience-section-container-card{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(207, 19%, 7%);
    border-radius: 10px;
    margin-bottom: 20px;

}

.experience-section-container-body-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.experience-section-container-body-title > h4:first-child{

    color: hsl(142, 90%, 61%);

}
.experience-section-container-body{


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}
.experience-section-container-body-summary{

    text-align: center;

}


/* SKILLS */

.skills-category-container-body,
.skills-category-container,
#skills
{

    width: 100%;
}

.skills-category-container-body-skills{

    width: 70%;
}

/*--*/

.skills-category-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.skills-category-container-body{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    background-color: hsl(207, 19%, 7%);

    border-radius: 10px;
    padding: 10px;

}

.skills-category-container-title{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-category-container-title h3, .skills-category-container-body-skills h3{

    text-align: center;
}

.skills-category-container-body-skills{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.skills-category-container-body-skills > div{

    flex-basis: 25%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills-category-container-body-skills h3{

    color: hsl(142, 90%, 61%);

}

/* PROJECTS ( inside of card.css ) */


/* RESUME */

.resume-section-container-actions i{

    color: hsl(142, 90%, 61%);


}

.resume-section-container-actions{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.resume-section-container-actions i{

    margin-bottom: 50px;
    cursor: pointer;

}

.resume-section-container{

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 400px;
    margin-bottom: 50px;
    background-color:  hsl(207, 19%, 7%);
    border-radius: 10px;
    padding: 10px;


}
.resume-section-container > .section-info{

    width: 80%;

}

#resume-embed{

    width: 100%;

}

/* OVERLAY */

.overlay{

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    color: #ff4c4c;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
    transition: 1s ease-in-out;
}

.fa-circle-xmark{

     /*align-self: center;*/
     cursor: pointer;
     font-size: 50px;
     margin-left: 50px;

}

.hide{

    display: none;
}


/* CONTACT */

.contact-section-container{

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  hsl(207, 19%, 7%);
    border-radius: 10px;
    padding: 10px;
}

.contact-section-container-body{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;

}

.contact-section-container-body i{

    color: hsl(142, 90%, 61%);

}


/* MEDIA QUERY */

@media (max-width:1000px ) {

    /* NAVIGATION BAR */


    #nav-drop-down{

        align-self: center;
        cursor: pointer;

        display: flex;
        background:hsl(207, 19%, 7%);
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
        padding: 5px;
        border-radius: 4px;
        font-size: 14px;
        text-align: center;
    }

    .nav-drop-down-items{

        display: none;

    }

    .nav-items-container:hover > .nav-drop-down-items{

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        right: 0;
        top: 10px;
        width: max-content;
        padding: 15px;
        margin-top: 0px;

    }
    .nav-items{

        margin-bottom: 10px;
    }
    .nav-items-container{

        all: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    /* SKILLS */
    .skills-category-container-body{

        display: flex;
        flex-direction: column;
    }

    /*  RESUME */
    .resume-section-container{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .resume-section-container > *:not(:last-child){

        margin: 10px;
    }
    .resume-section-container-actions{

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }


    /* CONTACT */

    .contact-section-container{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-section-container-body{

        display: flex;
        /*flex-direction: column;*/
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
}

@media (max-width:650px ) {

    /* SKILLS */
    .skills-category-container-body-skills{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .skills-category-container-body-skills > div{

        flex-basis: 33%;
    }

    /* CONTACT */

    .contact-section-container-body{
        display: flex;
        /*flex-direction: column;*/
        justify-content: space-around;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        margin: auto;

    }

    .contact-section-container-body  a{

        flex-basis: 50%;
        text-align: center;

    }


}



@media (max-width: 800px) { /* hover links */

/*    .navbar #navigation{

        display: none;
    }


    #dropdown{

        display: inline-block;
        position: relative;
        margin-right: 20px;
    }

    #dropdown-content{

        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;
        background-color: white;

    }

    #dropdown i{

        display: block;
        font-size: 30px;
        cursor: pointer;
    }

    #dropdown:hover #dropdown-content{

        position: absolute;
        display: flex;
        !*margin-right: 10px;*!
        right: 0;
        z-index: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #dropdown-content a{

        display: block;
        text-decoration: none;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        color: hsl(207, 19%, 9%);
    }

    #dropdown-content  a:hover{

        color: hsl(142, 90%, 61%);
        cursor: pointer;

    }

    #dropdown-content > a:hover::selection{

        color: hsl(142, 90%, 61%);
    }

    .logo-container > div{

        visibility: hidden;
    }*/

}