/*
    white hsl(0, 0%, 100%);
    blue hsl(207, 19%, 9%);
    green hsl(142, 90%, 61%);
*/

body{


    font-family: sans-serif;
    background-color: hsl(207, 19%, 9%);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: hsl(207, 19%, 9%);
    position: relative;
}
